<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Feed</title>
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
      rel="stylesheet"
    />
    <script src="https://cdn.tailwindcss.com"></script>
    <link
      href="https://cdn.jsdelivr.net/npm/remixicon@4.0.0/fonts/remixicon.css"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="/stylesheets/feed.css" />
  </head>
  <body>
    <div
      class="nav-bar w-full px-10 py-3 flex justify-between bg-zinc-700 text-white items-center"
    >
      <a href="/feed" class="text-3xl text-red-500">PinCraft.</a>
      <div class="flex gap-10 items-center">
        <a href="/profile">Profile</a><a href="/feed">Feed</a
        ><a href="/favourites">Favourites</a
        ><a class="px-3 py-2 bg-red-700 text-white rounded-lg" href="/logout"
          >Logout</a
        >
      </div>
    </div>
    <div class="w-full min-h-screen bg-zinc-800 px-5 py-1 text-white">
      <div class="container">
        <div class="box">
        <% posts.reverse().forEach(function(ele){%>
          <a
            href="/showfull/?img=/images/uploads/<%= ele.image %>&title=<%= ele.title %>&desc=<%= ele.description %>&username=<%= ele.user.username %>&id=<%= ele._id %>"
          >
              <img class="" src="/images/uploads/<%= ele.image %>" alt="" />
          </a>
          <%})%>
        </div>
      </div>
    </div>
  </body>
</html>

<!-- flex flex-wrap justify-start gap-10 -->
