<% include ./partials/header.ejs %>
<div class="container">
  <% posts.reverse().forEach(function(ele){ %>
  <div class="box">
    <div class="container_img">
      <a href="/showfull/?img=/images/uploads/<%= ele.image %>&title=<%= ele.title %>&desc=<%= ele.description %>&username=<%= ele.user.username %>" class="">
        <img src="/images/uploads/<%= ele.image %>" alt="Your Image">
        <a href="/favourites/post/<%= ele._id %>" class="overlay">
          <% if (user.favourites.indexOf(ele._id) !== -1){ %>
            <i class="fa-solid fa-star i1"></i>
            <% } else { %>
            <i class="fa-regular fa-star i2"></i>
            <% } %>
        </a>
      </a>
    </div>
  </div>
  <% })%>
</div>
<% include ./partials/footer.ejs %>



